@font-face {
  font-family: "iconfont"; /* Project id 3856807 */
  src: url('iconfont.woff2?t=1682154826025') format('woff2'),
       url('iconfont.woff?t=1682154826025') format('woff'),
       url('iconfont.ttf?t=1682154826025') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuanfa_4:before {
  content: "\e6f9";
}

.icon-star:before {
  content: "\e9a1";
}

.icon-sousuo:before {
  content: "\e60a";
}

.icon-zhuanfa1:before {
  content: "\e60d";
}

.icon-31pinglun:before {
  content: "\e601";
}

.icon-weixin:before {
  content: "\e650";
}

.icon-aixin:before {
  content: "\e658";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-aixin1:before {
  content: "\e7fa";
}

.icon-icon_zhuanfa:before {
  content: "\e656";
}

.icon-weixin1:before {
  content: "\e649";
}

.icon-xingxing:before {
  content: "\e859";
}

.icon-review:before {
  content: "\e62a";
}

.icon-weixin2:before {
  content: "\e8bb";
}

.icon-zhuanfa:before {
  content: "\e635";
}

.icon-zhibo:before {
  content: "\e6ef";
}

.icon-31wode:before {
  content: "\e600";
}

.icon-shouye:before {
  content: "\e630";
}

.icon-shouye1:before {
  content: "\e89f";
}

.icon-zhuye:before {
  content: "\e83a";
}

.icon-gongyi:before {
  content: "\e744";
}

.icon-down:before {
  content: "\e644";
}

.icon-up:before {
  content: "\e645";
}

